@model PictureUpdateModel
@{
    ViewData["Title"] = "UpdatePicture";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form asp-action="UpdatePicture" asp-controller="Picture" method="post" class="mt-4 w-75 mx-auto p-3 shadow">
    <h4 class="text-center">GÜncelle</h4>
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group">
        <label asp-for="@Model.PictureLink">Ürün adı</label>
        <span asp-validation-for="@Model.PictureLink" class="text-danger"></span>
        <input asp-for="@Model.PictureLink" class="form-control" />
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger">

    </div>
    <a asp-action="Products" asp-controller="Admin" class="btn btn-warning btn-sm">Geri dön</a>
    <button type="submit" class=" btn btn-info btn-sm">Resmi kaydet</button>
</form>



